$margin: 5px;
$tablet-width: 1000px;
$phone-width: 700px;

.page {
  height: 600px;
  display: flex;
  flex-direction: column;
  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    display: flex;
    justify-content: start;
    background: lightblue;
    height: 60px;
    margin: $margin;
    .title-item {
      display: flex;
      margin: $margin;
    }
    .left-menu {
      display: none;
    }
    .right-menu {
      display: none;
    }
  }
  .main {
    $bgc: lightgray;
    $height: 150px;
    display: flex;
    justify-content: space-around;
    .left {
      height: $height;
      width: 20%;
      background: $bgc;
      margin: $margin;
    }
    .center {
      height: $height;
      width: 60%;
      background: $bgc;
      margin: $margin;
    }
    .right {
      height: $height;
      width: 20%;
      background: $bgc;
      margin: $margin;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .page {
    .title {
      .left-menu {
        display: inline;
      }
    }
    .main {
      .left {
        width: 30%;
      }
      .center {
        width: 70%;
      }
      .right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $phone-width) {
  .page {
    .title {
      justify-content: space-between;
      .left-menu {
        /*width: 20%;*/
        display: inline;
      }
      .right-menu {
        /*width: 20%;*/
        display: inline;
      }
    }
    .main {
      .left {
        display: none;
      }
      .center {
        width: 100%;
      }
      .right {
        display: none;
      }
    }
  }
}