.page {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.page .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page .title {
  display: flex;
    justify-content: start;
  background: lightblue;
  height: 60px;
  margin: 5px;
}

.page .title .title-item {
  display: flex;
  margin: 5px;
}

.page .title .left-menu {
  display: none;
}

.page .title .right-menu {
  display: none;
}

.page .main {
  display: flex;
    justify-content: space-around;
}

.page .main .left {
  height: 150px;
    width: 20%;
  background: lightgray;
  margin: 5px;
}

.page .main .center {
  height: 150px;
    width: 60%;
  background: lightgray;
  margin: 5px;
}

.page .main .right {
  height: 150px;
    width: 20%;
  background: lightgray;
  margin: 5px;
}

@media screen and (max-width: 1000px) {
  .page .title .left-menu {
    display: inline;
  }

    .page .main .left {
        width: 30%;
    }

    .page .main .center {
        width: 70%;
  }
  .page .main .right {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .page .title {
      justify-content: space-between;
  }
  .page .title .left-menu {
      /*width: 20%;*/
    display: inline;
  }
  .page .title .right-menu {
      /*width: 20%;*/
    display: inline;
  }
  .page .main .left {
    display: none;
  }

    .page .main .center {
        width: 100%;
    }
  .page .main .right {
    display: none;
  }
}
